
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <a href="/"> home page</a>
    <a href="/room">room page </a>
    <form method='GET' action="{% url 'home'%}">
        <input type="text" name='q' placeholder="search rooms">
    </form>
    {% if request.user.is_authenticated %}
    <p>hello {{request.user.username}}</p>
    
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}

    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>