<h3>recent activities</h3>
        <div>
            <div>
            {%for message in room_messages%}
        <div>
            <small>@ <a href="{%url 'userprofile' message.user.id %}">{{message.user}}</a>  {{message.created|timesince}} ago 
              {% if request.user == message.user  %}<a href="{% url 'deleteMessage' message.id %}">delete my message</a> {% endif %}   </small>
            <small>replied to {{message.room}}</small>
            <p>{{message}}</p>
        </div>
        <hr>

        {% endfor %}
        </div>
        </div>