{% for room in rooms %}
        <div>
            <span>@ <a href="{% url 'userprofile' room.host.id %}">{{room.host.username}}</a></span>
             {% if request.user == room.host%}
                <a href="{% url 'Update-room' room.id %}">Update room </a>
                <a href="{% url 'Delete-room' room.id %}">Delete room </a>
                {%endif%}
                <br>
                <a href="{% url 'room' room.id %}">{{ room.id }} ----- {{ room.name }} </a>
                <br>
                <small>{{room.topic.name}}</small>
                <hr>
            </div>
            {% endfor %}