{% extends "main.html" %}
<!DOCTYPE html>
<html lang="en">
<body>
    {%block content %}
    
    <style>
        .room-container{
            
            display: grid;
            grid-template-columns:3fr 1fr;
        }
    </style>

    <div class="room-container">
        <div>

            
            
            <h1>this is the room page </h1>
            <h2>Id: {{room.id}}</h2>
   <h2>title:{{room.name}}</h2>
                <p>{{room.description}}</p>
                <div class="comment-wrapper">
        <h3>conversations</h3>
        {%for message in room_messages%}
        <div>
            <small>@{{message.user}}  {{message.created|timesince}} ago 
                 {% if request.user == message.user  %}<a href="{% url 'deleteMessage' message.id %}">delete my message</a> {% endif %}</small>
            <p>{{message.body}}</p>
        </div>

        {% endfor %}
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" placeholder="enter your message here....." name="body">


            </form>
            
        </div>{% endif %}
        <hr>
    </div>
    

</div>
<div>
    <h3>participants</h3>
    <hr>
    {% for participant in participants  %}
     <div>
        <p>

            @{{participant.username}}
        </p>
       
     </div>
    
    {% endfor %}
</div>

</div>
    
{% endblock %}

    
</body>
</html>